body {
	margin: 0;
	color: white;
	text-align: center;
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: #EC4E20;
	height: 60px;
}

main {
	background-color: #84732B;
	flex: 1;
}

footer {
	background-color: #1C3A13;
	height: 60px;
}